[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
pygithub = "*"
icecream = "*"
sysrsync = "*"
paramiko = "*"
sshfs = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
